*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

/* LAYOUT */

.container {
    width: 100%;
    margin: 0 auto;
}

.color-container{
    display: flex;
}

.colour-img {
    width: 100%;
    height: 590px;
}


p {
    font-size: 0.75rem;
    background-color: #3c3f43;
    text-align: center;
    color: #D5D4D8;
    margin: 0;
    padding: 1em;
}



/* INPUT AND BTN */

.input-select-container {
    display: flex;
    gap: 0.85em;
    padding: 0.85em;
    background-color: #1F2937;
}

input {
    border-color: #D1D5DB;
    width: 25%;
    margin: 0;
}

select{
    margin: 0;
    width: 80%;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    color: #FFFFFF;
    background-color: #1F293A;
    font-size: 0.75rem;
}

button {
    width: 35%;
    border-radius: 4px;
    border: 1px solid #D1D5DB;
    font-size: 0.75rem;
    background-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #3D4B60;
    border: none;
}

input,
select,
button {
    height: 42px;
}


select:focus {
    outline: none;
}

@media(min-width: 769px){
    .colour-img {
        height: 671px;
    }
}
